* {
    margin: 0;
    padding: 0;
    border-style: border-box;
        font-family: "Titillium Web", sans-serif;
      }
      
header{
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
}